/*	Author: Rumin Sergey | Copyright: CENTROARTS.com | e-mail: sale@centroarts.com | URL: http://www.centroarts.com */

/* Общие настройки страницы */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
body { background-color: #f0f0ea; }

h1, h2, h3, h4, h5 { line-height: normal; }
h1 { font-size: 1.8em; } h2 { font-size: 1.7em; } h3 { font-size: 1.35em; } h4 { font-size: 1.2em; } h5 { font-size: 1.1em; }

/* настройка ссылок */
a { color: #f27d03; text-decoration: none; }
a:hover { text-decoration: underline; }
a img  { border: 0 none; }

/* прочие стили */
input, textarea, select, body { font: 14px Tahoma, Arial, Verdana, sans-serif; }
input, textarea, select, a { outline: none; }
p { margin-bottom: 0.4em; }
.clr { clear: both; }
hr { border: 0 none; border-top: 1px solid #d8d8d8; height: 1px; }
ul { padding-left: 16px; list-style-position:outside; list-style-image:none; }
ol { list-style-image: none; list-style-position: outside; list-style-type: decimal; margin-left: 2.2em; }
.inv { display: none; }

/* сброс настроек таблиц и списков */
table { border-collapse: collapse; border-spacing: 0; }
.reset, .reset li { list-style: none; padding: 0; margin: 0; }

.pagebg { background: url("../images/headwide.jpg") repeat-x; }
.wrapper { min-width: 902px; max-width: 1580px; width: 97%; text-align: left; margin: 0 auto; }

.lcolomn, .rcolomn, .head { display: inline; }
.lcolomn, .head { float: left; }
.rcolomn, .arg { float: right; }
.thide, .btl b { overflow: hidden; display: block; height: 0; }
.vnavi li a, .headrss, .vnavi2 li a, .argmore a, .navigation a, .fullv { text-decoration: none !important; }

/*скругление обьектов не для IE*/
.fbutton, .berrors, .navigation span, .infoblock, .btn_reglog { -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }

/* topbar */
.topbar { padding: 0 10px; height: 38px; background: #303030 url("../images/headwide.jpg") repeat-x; }
.thmenu { overflow: hidden; }
.thmenu, .thmenu ul, .thmenu ul li { float: left; }
.thmenu ul { margin: 8px 0 0 -11px; }
	.thmenu ul li { padding: 0 9px 0 11px; background: url("../images/dotmsep.png") no-repeat 0 65%; }
	.thmenu ul li a { color: #fff; }

/* search */
.topbar form ul { width: 434px; height: 25px; margin-top: 6px; background: #000 url("../images/search.png") no-repeat; }
	.topbar form ul li { float: left; height: 25px; }
	.topbar form ul li input { color: #fff; border: 0 none; background: none; }
		.sh-text { width: 370px; overflow: hidden; }
		.sh-btn { width: 64px; }
		.topbar form ul .sh-text input { width: 358px; margin: 5px 0 0 7px; display: block; }
		.topbar form ul .sh-btn input { width: 64px; height: 25px; background: url("../images/search.png") no-repeat -370px 0; }
		.topbar form ul .sh-btn input:hover { background-position: -434px 0; }

/* header */
.header, .header .rcolomn, .headleft, .headright, .header .lcolomn { height: 183px; }
.header { padding-left: 210px; }
	.header .lcolomn { width: 210px; margin-left: -210px; overflow: hidden; }
	.header .rcolomn { width: 100%; background: url("../images/header.png") repeat-x 0 -183px; }
	.headright { padding-right: 200px; background: url("../images/header.png") no-repeat 100% -366px; }
	.headleft { padding-left: 44px; background: url("../images/header.png") no-repeat; }
	.header h1 a { margin: 41px 0 27px 0; float: right; width: 201px; padding-top: 83px; background: url("../images/ruvideo_logo.png") no-repeat; }
		.headrss { background: url("../images/rsshead.png") no-repeat; color: #000; font-size: 0.9em; display: block; clear: both; padding-left: 34px; height: 29px; line-height: 28px; }
		.headrss:hover { background-position: 0 -29px; }

	.head { width: 100%; }
		.head li { position: relative; float: left; width: 23.5%; margin-top: 14px; }
		.head li div, .head li img { width: 150px; height: 150px; display: block; }
		.head li.rdl4 div { background: url("../images/rdl4.png"); }
		.head li.rdl4 div span { color: #fff; display: block; padding: 52px 0 0 17px; }

/* loginbox */
	.loginbox { font-size: 0.9em; position: relative; float: right; width: 190px; margin-right: -200px; padding-left: 10px; }
		.loginbox .rdl5 { position: absolute; left: -36px; top: 21px; }
		.loginbox .loginblock { position: relative; z-index: 10; }

		.loginform { margin-top: 35px; }
			.loginform, .loginform li div { width: 168px; }
			.loginform li { margin-bottom: 0.6em; }
			.loginform li span { display: block; padding-left: 2px; }
			.loginform li div { overflow: hidden; height: 21px; background: #fff url("../images/loginform.png"); }
			.loginform li div input { border: 0 none; background: none; }
				.loginform li div .lbtn { float: right; width: 52px; height: 21px; background: #dcdcdc url("../images/loginform.png") -116px -21px; }
				.loginform li div .lbtn:hover { background-position: -116px -42px; }

				.loginform li.flogin div input { width: 160px; }
				.loginform li.flogin div input, .loginform li.fpass div .ltext { margin: 3px 0 0 4px; display: block; }

				.loginform li.fpass div { background: #fff url("../images/loginform.png") 0 -21px; }
				.loginform li.fpass div .ltext { float: left; width: 108px; }
		
		.loginenter { margin-top: 40px; }
		.loginenter h3 { font-size: 1.1em; margin-bottom: 0.4em; }
		.loginenter ul { float: left; width: 49%; }

/*структура блоков и контента*/
.vsep { width: 100%; background: #fff url("../images/vsepl.png") no-repeat 0 100%; }
.vsep .vsep { background: url("../images/vsepr.png") no-repeat 100% 100%; }

.container { padding: 0 173px 0 232px; background: url("../images/tvru.jpg") no-repeat 100% 100%; }
	.leftside { font-size: 0.9em; padding-right: 14px; width: 218px; margin: 0 0 0 -232px; }
	.rightside { font-size: 0.9em; width: 173px; margin: 0 -173px 0 0; padding-bottom: 120px; }
	.midside, .mainside, .conts { width: 100%; }

/*speedbar*/
.spbar, .spbar div { height: 51px; }
.spbar { background: #292929 url("../images/speedbar.png") repeat-x 0 -51px; font-size: 0.9em; }
	.spbar div { background: url("../images/speedbar.png") no-repeat 0 -102px; padding: 0 0 0 20px; }
	.spbar div div { padding: 0 100px 0 0; background-position: 100% 0; position: relative; }
	.spbar img { position: absolute; bottom: 0; right: 0; }
	
	.spbar p { padding-top: 9px; color: #fff; }

/* нижняя часть сайта */
.footadw { padding: 15px; font-size: 0.9em; }
.footer { min-width: 900px; padding-top: 30px; height: 50px; font-size: 0.9em; background: url("../images/footer.png") repeat-x; }
	.footer .lcolomn a { color: #262626; }
	.footer .lcolomn span, .footer .lcolomn span a { color: #595957; }
	
	.footer .rcolomn ul { display: inline; padding: 0; list-style: none; }
	.footer .rcolomn ul li { float: left; width: 88px; margin: 2px 0 0 8px; }

	/*Прозрачность счетчиков*/
		.footer .rcolomn ul li { opacity:0.4; -moz-opacity:0.4; filter:alpha(opacity=40);  }
		.footer .rcolomn ul li:hover { opacity:1.0; -moz-opacity:1.0; filter:alpha(opacity=100); }

/*Левые блоки*/
.leftside .block { margin-bottom: 14px; width: 218px; background: #fff url("../images/leftblock.png") repeat-y -218px 0; }
	.leftside .block .dbtm { padding: 0 1px 18px 1px; width: 216px; background: url("../images/leftblock.png") no-repeat 100% 100%; }
	.leftside .block .dtop { overflow: hidden; border-bottom: 2px solid #e5e5e5; color: #ffa116; height: 42px; background: #2a2a2a url("../images/leftblock.png") no-repeat; }
	.btl b { margin: 13px 0 0 15px; padding-top: 17px; width: 155px; background: url("../images/headings.png") no-repeat; }

	/* вертикальная навигация */
	.vnavi { border-bottom: 1px solid #e5e5e5; }
		.vnavi li a, .vnavi2 li a { color: #000; padding: 2px 0; width: 100%; display: block; border-top: 1px solid #e5e5e5; background: url("../images/vnavileft.png") no-repeat -999px 0;}
		.vnavi li a b, .vnavi2 li a b { display: block; cursor: pointer; padding: 0 15px; }
		.vnavi li a:hover, .vnavi2 li a:hover { background: #ffb40c url("../images/vnavileft.png") repeat-y 100% 0; border-top: 1px solid #d9970c; }
		
		.vnavi2 li a { border-color: #fff; }
		.vnavi2 li a b { padding-left: 25px; padding-right: 5px; background: url("../images/vnavi2.png") no-repeat 15px 5px; }
			.vnavi2 li a:hover b { background-position: 15px -110px; }

	.subbtl { padding: 10px 15px; color: #999; text-transform: uppercase; }

/*Опросы*/
.leftside .bvote { margin-bottom: 14px; background-color: #fff; border: 1px solid #d5d5d5; }
	.leftside .bvote .bvtop, .bvote .bvbtm { background: url("../images/bvote.png") no-repeat; width: 218px; height: 6px; font-size: 1px; line-height: 1px; margin: 0 -1px; overflow: hidden; position: relative; }
	.leftside .bvote .bvtop { margin-top: -1px; }
	.leftside .bvote .bvbtm { margin-bottom: -1px; background-position: 100% 100%; }

	.leftside .bvote .dcont { margin: 0 15px; padding: 10px 0; }

	.leftside .bvote p { color: #f78913; margin-bottom: 0.6em; font-size: 1.1em; }
	.leftside .bvote .vote { padding: 2px 0; text-align: center; }

	.leftside .bvote .btl b { background-position: 0 -17px; }

/* Рекламный блок слева */
.leftside .bad { margin-bottom: 14px; width: 218px; padding: 9px 0 0 0; background: #fff url("../images/leftbad.png") no-repeat; }
	.leftside .bad .bad { margin: 0; padding: 0 0 23px 0; background: url("../images/leftbad.png") no-repeat 100% 100%; }
	.leftside .bad .bad .bad { padding: 0 9px; width: 200px; background: url("../images/leftbad.png") repeat-y -218px 0; }

/* Видеоролики онлайн */
.bvideoon .btl b { background-position: 0 -34px; }

/* Популярные новости */
.topnews .btl b { background-position: 0 -103px; }
.leftside .topnews .dcont { margin: 0 15px; padding: 10px 0 0 0; }

/* Облако тегов */
.tags .btl b { background-position: 0 -120px; }
.leftside .tags .dcont { margin: 0 10px; padding: 10px 0 0 0; }

/* Календарь новостей */
.calendr .btl b { background-position: 0 -137px; }
.leftside .calendr .dcont { margin: 0 5px; padding: 10px 0 0 0; }

/* Правые блоки */
.rightside .btl { overflow: hidden; }
.rightside .btl b { width: 140px; }
	.rightside .yblock { width: 173px; background: #ffa215 url("../images/yblock.png") repeat-y -173px 0; }
	.rightside .yblock .dtop { background: url("../images/yblock.png") no-repeat; }
	.rightside .yblock .dbtm { padding-bottom: 30px; background: url("../images/yblock.png") no-repeat -346px 100%; }
	.rightside .yblock .btl b { background-position: 0 -51px; margin-bottom: 16px; }
	.rightside .yblock .vnavi li a, .rightside .yblock .vnavi { border-color: #d18511; }
	.rightside .yblock .vnavi li a:hover { color: #fff; background: #373737 url("../images/vnaviright.png") repeat-x; }
	.rightside .yblock .vnavi li a b { font-weight: normal; background: url("../images/vnaviright.png") no-repeat -999px 0; }

.rightside .gblock { width: 173px; background: #f9f9f9 url("../images/gblock.png") repeat-y; }
	.rightside .gblock .dbtm { padding-bottom: 30px; background: url("../images/gblock.png") no-repeat -173px 100%; }
	.rightside .gblock .btl b { margin: 0 0 14px 15px; background-position: 0 -68px; }
	.rightside .gblock .vnavi2 li a { border: 0 none; }
	.rightside .gblock .vnavi2 li a b { font-weight: normal; }

.rightside .block { width: 173px; background: #fff url("../images/rightblock.png") repeat-y; }
	.rightside .block .btl b { background-position: 0 -85px; margin: 0 0 14px 15px; }
	.rightside .block .dbtm { padding-bottom: 26px; background: url("../images/rightblock.png") no-repeat -173px 100%; }
	.barchives a { color: #000; }
	.rightside .block .dcont { margin: 0 15px; }

.rightside .bad { margin: 0 0 14px 13px; width: 160px; background: url("../images/badright.png") repeat-y -160px 0; }
.rightside .bad .bad { background-position: 0 0; background-repeat: no-repeat; margin: 0; padding: 5px 0 0 0; }
.rightside .bad .bad .bad { width: 150px; padding: 0 5px 22px 5px; background-position: -320px 100%; }

/*Центральные верхние блоки*/
.cblocks { font-size: 0.9em; padding-bottom: 20px; margin-bottom: 10px; background: url("../images/cblocksbg.png") repeat-x 0 100%; }
	.cbsep { width: 100%; background: url("../images/cbsep.png") no-repeat 32% 100%; }
	.cbsep .cbsep { background-position: 67.7% 100%; }
	.cblocks ul, .cblocks ul li { float: left; }
	.cblocks ul { width: 100%; }
	.cblocks ul li { width: 33.3%; position: relative; overflow: hidden; }
	.cblocks ul li .block, .cblocks ul li.btl b { margin: 0 15px 15px 15px; }
	.cblocks ul li .block { overflow: hidden; }
	.cbl1 b { background-position: 0 -102px; }
	.cbl1 b { width: 86px; }
	.cbl2 b { background-position: 0 -119px; }
	.cbl3 b { background-position: 0 -136px; }

/*настройка кнопок*/
.fbutton, .btn_reglog, .vresult { border: 0 none; background: none; cursor: pointer; }

	.btn_reglog { background: #f2f2f2 url("../images/bbcodes.png") repeat-x; border: 1px solid #c5c5c5; color: #7d7d7d; width: 108px; height: 21px; padding-bottom: 3px; font-weight: bold; }
	.btn_reglog:hover { background: #fff none; }

	.vresult { color: #f78913; padding: 7px 3px 3px 3px; }
	.fbutton { text-shadow: 0 1px 0 #ffbf5c; border: 1px solid #c88927; height: 30px; color: #000; padding: 2px 15px 4px 15px; background: #ffa416 url("../images/fbutton.png") repeat-x; font-weight: bold; }
	.fbutton:hover { background-position: 0 -100px; }
	.fbutton {
		-moz-box-shadow: 0 1px 4px -2px black;
		-webkit-box-shadow: 0 1px 4px -2px black;
        box-shadow: 0 1px 4px -2px black;
	}

/*статьи*/
.base, .basecont { margin-bottom: 2.5em; }
.basecont { margin: 0 15px; }
	.base { border-bottom: 3px solid #f5f5f1; }

	.shd { font-weight: normal; font-size: 1.5em; color: #000; margin: 0 15px 0.4em 15px; }
		.shd a { color: #000; }
	
	.shdinfo { font-size: 0.9em; border-top: 1px solid #d8d8d8; height: 30px; padding: 8px 15px 0 15px; background: url("../images/shdinfo.png") repeat-x; }
		.shdinfo .arg, .shdinfo .date { float: left; margin-right: 10px; line-height: 21px; }
		.shdinfo .date a, .shdinfo .date { color: #fff; }
			.shdinfo .date b, .shdinfo .date { height: 22px; float: left; background: #ff951c url("../images/date.png") no-repeat; }
			.shdinfo .date b { padding: 0 8px; font-weight: normal; background-color: transparent; background-position: 100% -22px; }
			.ratebox { float: right; position: relative; width: 85px; height: 17px; padding: 2px 0; overflow: hidden; margin-left: 10px; }

	/*иконки модератора*/
	.isicons { float: right; text-align: right; margin-left: 8px; }
		.isicons ul { display: inline; }
		.isicons li { float: left; margin-left: 6px; }
		.isicons li img { vertical-align: middle; }

	.maincont { margin: 0 15px 1em 15px; overflow: hidden; }
	.morelink { padding: 0 15px; margin-bottom: 18px; }
		.morelink .arg { float: left; color: #7c7c7c; font-size: 0.9em; }
		.morelink .arg a { color: #7c7c7c; }
	
	/* Кнопка читать далее и назад */
	.argmore a b, .argmore a { float: right; height: 29px; background: url("../images/argmore.png") no-repeat 0 -29px; }
		.argmore a b { float: left; padding: 0 42px 0 12px; background-position: 100% 0; }
		.argmore a { line-height: 26px; margin-left: 10px; color: #fff; background-color: #ff9e2f; }
		.argmore a:hover { background-position: 0 -87px; }
		.argmore a:hover b { background-position: 100% -58px; }

.fullstory { margin-bottom: 10px; }

.fullv { border-bottom: 1px solid #000; width: 100%; color: #fff; background: #ff8500 url("../images/fullvbg.png") repeat-x; }
	.fullv span, .fullv b, .fullv i, .fullv { display: block; cursor: pointer; font-style: normal; }
	.fullv span { background: url("../images/fullv.png") no-repeat 4px 0; padding: 8px 15px 8px 120px; }
	.fullv b { font-size: 1.2em; }

.infodload { padding: 8px 15px 8px 53px; font-size: 0.9em; background: #f8f8f6 url("../images/infodload.png") no-repeat 10px 50%; border-bottom: 1px solid #e7e7e3; }
	.infodload strong { font-weight: normal; }

.related { background-color: #f8f8f6; padding: 10px 15px; }
	.related h3 { margin: 0 0 0.4em 0; font-size: 1em; }
	.related li { margin-bottom: 0.1em; padding-left: 10px; background: url("../images/vnavi2.png") no-repeat 0 6px; }
	.related li a { color: #030303; }
	.related li a:hover { color: #ff8500; }

/*errors*/
.berrors { margin: 0 15px 15px 15px; font-size: 0.9em; font-style: italic; padding: 6px 10px; background: #fcf7ee url("../images/berrors.png"); line-height: normal; border: 1px solid #f3e4d9; }

/* большие заголовки */
.heading { font-weight: normal; font-size: 1.6em; color: #ff8500; margin-bottom: 0.5em; }

/*Комментарии*/
.bcomment .dtop { position: relative; background-color: #f5f5f1; border-top: 1px solid #b8b8b8; padding-left: 36px; height: 36px; padding-right: 15px; margin-bottom: 0.4em; }
	.bcomment .dtop .avatar { left: 15px; top: 10px; position: absolute; height: 49px; width: 49px; border: 1px solid #a0a0a0; }
	.bcomment .dtop .avatar span { overflow: hidden; display: block; border: 3px solid #f5f5f1; width: 43px; height: 43px; }
	.bcomment .dtop .avatar span img { width: 43px; }
	.bcomment .dtop h3 { margin-top: 8px; float: left; color: #2c2c2c; }
	.bcomment .dtop h3 a { color: #2c2c2c; }

	.comnum { margin-top: 7px; width: 33px; height: 22px; line-height: 21px; text-align: center; background: #b8b8b8 url("../images/comnum.png") no-repeat 0 0; float: right; color: #f5f5f1; font-size: 1.2em; }
	.comnum a { color: #f5f5f1; }

.bcomment .dtop, .bcomment .dmid { padding-left: 75px; }
.bcomment .dmid { margin-bottom: 0.8em; font-size: 0.9em; color: #9c918a; padding-right: 15px; }
.cmaincont { margin: 0 15px; }

	.comedit { height: 20px; padding: 0 15px; font-size: 0.9em; margin-bottom: 10px; }
	.comedit ul { float: right; }
	.comedit ul li { float: right; margin-left: 6px; }
	.signature { color: #93918d; }

/*pages*/
.bcheading { line-height: normal; font-weight: normal; color: #262626; margin: 0 0 0.8em 0; }

/*forms*/
.tableform { width: 100%; }
	.tableform td { padding: 8px 0; line-height: 1.35em; }
	.tableform td.label { width: 22%; vertical-align: top; text-align: right; padding-right: 8px; font-weight: bold; }
	.tableform tr { background: url("../images/dotted.png") repeat-x; }
	.tableform tr.flast td { padding-bottom: 0; }
	.tableform .nostylebb tr { background: none; }
	.tableform .nostylebb tr td { padding: 0; }
	.addnews { font-weight: bold; }
	.impot { color: #e5372f; font-weight: normal; }

.f_input { width: 300px; padding: 2px; }
.f_textarea { width: 458px; height: 156px; }
.fieldtr select, .textin, .f_textarea, .f_input, .xfields textarea, .xfields input, .xfields select { background-color: #faf9f7; border: 1px solid #b8b8b8; }
.textin { padding: 2px; }

/*search*/
.searchstyle { width: 480px; }
.search { font-size: 11px; }
.searchtable table { border-collapse: separate; border-spacing: 0; border: 0; }
.searchtable fieldset {  }
.searchtable fieldset legend { color: #404040; }

#searchuser, #searchinput { width: 90% !important; }

/*pools*/
.infoblock { margin: 0 15px 1.8em 15px; background-color: #f8f8f6; padding: 10px; }
.pollvotelist { width: 70%; text-align: left; }
.pollvotelist input { margin-right: 5px; }

/*statistics*/
.statistics { margin: 0 auto; }
	.statinn { text-align: left; }
	.statistics ul { margin-bottom: 15px; }
	.statistics ul li { position: relative; background: url("../images/dotted.png") repeat-x 0 100%; padding: 4px 0; }
	.statistics ul li b { position: absolute; right: 0; }

/*userinfo*/
.usercolomn { overflow: hidden; padding: 0 0 0 115px; margin-bottom: 9px; }
	.usercolomn .lcolomn { width: 115px; margin: 0 0 0 -115px; }
	.usercolomn .rcolomn { width: 100%; }
	.usercolomn .lcolomn img { width: 100px; }
	.userinfo h2 { font-size: 18px; color: #828282; font-weight: normal; }
	.userinfo .uirow, .userinfo .uirow2 { padding: 10px 0;  }
	.userinfo .uirow { font-size: 0.9em; padding-top: 0; }
	.userinfo .uirow2 { font-size: 0.9em; background: url("../images/dotted.png") repeat-x 0 0; }
	.userinfo .colomn { float: left; }

	.boxlinks { font-size: 0.9em; padding: 10px; border: 1px solid #f5f5f5; background-color: #fefefe; margin-bottom: 3px; }

/*постраничная навигация*/
.basenavi { margin: 0 14px; margin-bottom: 0.6em; }
.basenavi br { font-size: 6px; line-height: 6px; }
.navigation { display: block; font-size: 1.5em; line-height: normal; margin-bottom: 0.1em; }
	.navigation a { color: #111; }
	.navigation a:hover { color: #ffa315; }
	.navigation a, .navigation span { float: left; padding: 2px 7px; }
	.navigation span { color: #fff; background-color: #ffa315; }

	.nprev, .nnext { font-size: 0.9em; }

.cbanner { margin: 0 14px 10px 14px; text-align: center; padding-top: 10px; }
.cbanner .dcont { width: 468px; height: 60px; overflow: hidden; margin: 0 auto; text-align: left; }